body{
    background-color: lightgray;
}

main{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    display: block;
}

.containe h1 {
    font-size: 45px;
    font-family: sans-serif;
}
.containe h1:first-child{
    text-decoration: underline;
}

section p {
    font-weight: 545;
    font-family: sans-serif;
    font-size: 22px;
}

section img{
    width: 45px;
    padding: 34px;
    margin-top: -30px;
    margin-bottom: 10px;
}

div a{
    background-color: lightyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    font-weight:lighter;
    border: 3px solid orange;
    text-decoration: none;
    color: black;
    
    padding-left: 100px;
    padding-right: 100px;
    padding: 5px 5px ;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

div a:hover{
    background-color: orange;
}

div img{
    width: 100%;
}